<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="../../../../../../app/bootstrap.php.cache" colors="true">

<testsuites>
    <testsuite name="RouffjHowToBundle test suite">
        <directory suffix="Test.php">./Tests</directory>
    </testsuite>
</testsuites>

<php>
    <server name="KERNEL_DIR" value="../../../../../../app" />
</php>
</phpunit>
